:host {
  width: 100%;
}


table {
  width: 100%;
}

h2 {
  margin-top: 5%;
}

:host .mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 620;
  background-color: transparent !important;
  border-bottom: black solid 0.5px;
}


snack-bar-container.warning { background-color: red }