.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

nav {
  max-width: 1200px;
  margin-left: 10%;
}

nav a {
  font-size: 15px;
  padding-right: 50px;
  cursor: pointer;
  :hover {
    border-bottom: 1em black;
  }
}